/* universal styles */
body{
    margin: 0;
    font-family: helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* header section */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

a {
    color: seashell;
}

#logo {
    height: 50px;
    padding-left: 10px;
}

/* main section */
main {
    position: relative;
    top: 69px;
    width: 1200px;
    margin: auto;
    opacity: 0.9;
}

/* mission section */
#mission {
    height: 700px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    padding-top: 70px;    
}

/* store section */
#store   {
    height: 700px;
    width: 1000px;
    margin:auto;
    padding-top: 70px;
}

.content {
    width: 100%;
    margin: auto;
    background-color: black;
}

/* location section */

.item {
    padding: 5px;
}

.item img {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
}

/* footer section */
